

/* the header links - two links to the same page. */
.link{
    /* display: inline; */
    margin: 5px;
    /* position: fixed; */
    text-align: right;
}

.links {
    color: #eeeeee;
    margin: 5px;
}

/* top nav header */
.header {
    width: 100%;
    padding-left: 2%;
    background-color: #0A233F;
}

.image {
    cursor: pointer;
}

/* student form */
.container {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
}

